body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.center {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 50vw;
}
#app {
  /* grid-template-columns:  */
  height: 100vh;
  background-image: url("weatherbkg.png");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(26, 1, 255);
  padding: 20px;
  font-family: "Oswald", sans-serif;
}

.rainbow-text {
  background-image: linear-gradient(to left, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 0;
}

label {
  display: block;
  font-size: 27px;
}

.title {
  font-size: 30px;
  color: rgb(26, 1, 255);
  background: rgba(83, 96, 124, 0.2);
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.titleZip {
  background: rgba(83, 96, 124, 0.2);
  width: 140px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.titleFeel {
  background: rgba(83, 96, 124, 0.2);
  width: 270px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.headline {
  color: white;
  font-size: 30px;
  text-align: center;
}

#zip {
  margin-bottom: 20px;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background: rgb(255, 175, 1);
  color: white;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  display: inline;
  margin-top: 10px;
}

textarea {
  background: #d9dce9;
  color: black;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
}

input {
  background: #d9dce9;
  color: black;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  border-radius: 15px;
}

#entryHolder {
  color: black;
  font-size: 30px;
  display: inline-block;
  background: rgba(83, 96, 124, 0.2);
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgb(136, 135, 141);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(136, 135, 141);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(136, 135, 141);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
